<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jonasjancarik.workspaces-reconnect</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/false</string>
        <string>check</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>10</integer>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>ProcessType</key>
    <string>Background</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>Nice</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>/tmp/workspaces-reconnect.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/workspaces-reconnect.log</string>
</dict>
</plist>
